<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
<style>
input[type=number]{ width: 4em; }

</style>
</head>
<body>

<h2> Live feed </h2>

<a href = './img' target="_blank"><img style="width: {{ data[14] }}px; padding: 0px 0px 00px 20px;"  src="{{ url_for('video_feed') }}"></a>


<div>
original size: {{ data[10] }} x {{ data[11] }} ; current size: {{ data[12] }} x {{ data[13] }} ; shown as {{ data[14] }}x{{ data[15] }} &nbsp;&nbsp;&nbsp;<a href = './img' target="_blank">get image</a>&nbsp;&nbsp;&nbsp;  <a href = '.' >static feed</a>
</div>

<form method="post" >

<label for="texp" style="display: inline-block; padding-left: 5px; padding-top: 15px;">image exposure [ms]:</label>
<input type="number" name="texp" value="{{ data[16] }}" step="1" min="0" } />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<label for="gain" >gain [dB]</label>
<input type="number" name="gain" value="{{ data[17] }}" step=".1" min="0" max="48" />



<br/>
<form />

<form method="post" >
<label for="crop_up" style="display: inline-block; padding-left: 85px; padding-top: 15px;">crop top:</label>
<input type="number" name="crop_up" value="{{ data[0] }}" step="1" min="0" max="2500" />
<br/>

<label for="crop_lf" >crop left:</label>
<input type="number" name="crop_lf" value="{{ data[2] }}" step="1" min="0" max="2500" />

<label for="crop_rg" style="display: inline-block; padding-left: 20px;">crop right:</label>
<input type="number" name="crop_rg" value="{{ data[3] }}" step="1" min="0" max="2500" />

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input name="cu" type="submit" value='set values'/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input name="reset" type="submit" value='reset' />

<br/>
<label for="crop_bt" style="display: inline-block; padding-left: 60px;">crop bottom:</label>
<input type="number" name="crop_bt" value="{{ data[1] }}" step="1" min="0" max="2500" />
<br/><br/>
<label for="px_bin">pixel bin:</label>
<input type="number" name="px_bin" value="{{ data[4] }}" step=".1" min=".1" max ="512"/>

<label for="im_w" style="inline-block; padding-left: 20px;">displayed image width [%]:</label>
<input type="number" name="im_w" value="{{ data[9] }}" step="1" min="1" max="10000" />




<!-- <div>  {{ data[5] }} {{ data[6] }} {{ data[7] }} {{ data[8] }}  <div/> -->

</form>


</body>
</html>